input.searchinput, input.searchsubmit{
background:#fff;
border: 1px solid #BAD6F2;
color: #000;
}

input.searchsubmit{
height:20px;
margin: 0 0 0 2px;
}


/*
#main {
float: left;
margin-right: 0px;
padding: 0px 0px 8px 0;
overflow:hidden;
}



.gotop {
 	padding-bottom: -100px;   
}

.gotop {
	display: none;
	/*bottom: <?php echo $options['yHeight'];?>px;*/
	/*right: 11.7%;*/
	/*right: 330px;*/
/*
	right: -2px;
    bottom: -100px;

}
*/